{% extends "base.html" %} 


{% block menu_escalas_active %}active{% endblock %}

{% set pendencia = resultado.entidades[-1] %}


{% block tituloConteudo %}
<div class="container titulo-conteudo">
   <div class="jumbotron mb-0 pb-0 px-0 cor-base4">
     <h1 class="display-4">Atualizar Pendência<h1>
         <p class="lead text-justify">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsum alias accusantium laboriosam provident
           ipsam fuga recusandae quos quaerat similique nemo, repellat eligendi eaque a ab molestias ex maiores
           corporis.
         </p>
   </div>
</div>
{% endblock %}


{% block alerta %}
<div class="container">
  {{ super() }}
</div>
{% endblock %}


{%block conteudo %}

<div class="container conteudo">
  <div class="row d-flex align-items-baseline">
    <div class="col">
      <h5 class="h4 mb-0">Dados da pendência</h5>
    </div>
    <div class="col ">
      <a class="btn btn-primary float-right" href="{{ url_for('bp_ocorrencia.pendencias') }}">VOLTAR</a>
    </div>
  </div>
  <div class="dropdown-divider"></div>  
  
  <div class="rounded shadow bg-white px-3 pt-3 pb-1 mb-5">
    <form action="" method="post">
      <div class="row">
        <div class="col-2"> 
          <div class="form-group">
            <label for="txt-pendencia-codigo">Código *</label>
            <input type="text" class="form-control" name="txt-pendencia-codigo" id="txt-pendencia-codigo" value="{{ pendencia.codigo }}">
          </div>
        </div>
        <div class="col-7">
          <div class="form-group">
            <label for="txt-pendencia-nome">Nome da Pendência *</label>
            <input type="text" class="form-control" name="txt-pendencia-nome" id="txt-pendencia-nome" value="{{ pendencia.nome }}">
          </div>
        </div> 
        <div class="col-3">
          <div class="form-group">
            <label for="txt-pendencia-sigla">Sigla *</label>
            <input type="text" class="form-control" name="txt-pendencia-sigla" id="txt-pendencia-sigla" value="{{ pendencia.sigla }}">
          </div>
        </div>
    
      </div><!--fim da primeira .row do form cad func -->
      <div class="row">        
        <div class="col-4">
          <div class="form-group">
            <label for="txt-pendencia-tipo">Tipo *</label>
            <select class="custom-select" name="txt-pendencia-tipo" id="txt-pendencia-tipo">
              <option >Selecione um tipo</option>
              {% for tipo in pendencia._lista_tipos %}
                {% if tipo.id|e == pendencia.tipo.id|e %}
                  <option selected value="{{ tipo.id|e }}">{{ tipo.nome|e }}</option>
                {% else %}
                  <option value="{{ tipo.id|e }}">{{ tipo.nome|e }}</option>
                {% endif %}
              {% else %}
                <option selected value="">Nenhum registro encontrado</option>
              {% endfor %}
              
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="txt-pendencia-prazo_pagamento">Prazo pagamento *</label>
            <input type="text" class="form-control" name="txt-pendencia-prazo_pagamento" id="txt-pendencia-prazo_pagamento" 
              value="{{ pendencia.prazo_pagamento_dias }}" placeholder="prazo em dias">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="txt-pendencia-limite_maximo_horas">Limite de horas *</label>
            <input type="text" class="form-control" name="txt-pendencia-limite_maximo_horas" 
              value="{{ pendencia.limite_maximo_horas }}" id="txt-pendencia-limite_maximo_horas">
          </div>
        </div>
          
      </div>      
      <div class="row">
        <div class="col-4">        
          <div class="form-group">
            <label for="txt-pendencia-data_cadastro">Data do Cadastro</label>
            <input disabled type="text" class="form-control" name="txt-pendencia-data_cadastro" id="txt-pendencia-data_cadastro" value="{{ pendencia.data_cadastro_formatada|e }}">
            <input hidden type="text" class="form-control" name="txt-pendencia-data_cadastro" id="txt-pendencia-data_cadastro" value="{{ pendencia.data_cadastro_formatada|e }}">
          </div>        
        </div>
        <div class="col">        
          <div class="form-group">
            <label for="txt-pendencia-responsavel_cadastro">Responsável pelo Cadastro</label>
            <input disabled type="text" class="form-control" name="txt-pendencia-responsavel_cadastro" id="txt-pendencia-responsavel_cadastro" value="{{pendencia.responsavel_cadastro}}">
            <input hidden type="text" class="form-control" name="txt-pendencia-responsavel_cadastro" id="txt-pendencia-responsavel_cadastro" value="{{pendencia.responsavel_cadastro}}">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="txt-pendencia-status">Status *</label>
            <select class="custom-select" name="txt-pendencia-status" id="txt-pendencia-status">
              {% for status in pendencia._lista_status %}
              {% if status.id|e == pendencia.status.id|e  %}
                <option selected value="{{ status.id|e }}">{{ status.nome|e }}</option>
              {% else %}
                <option value="{{ status.id|e }}">{{ status.nome|e }}</option>
              {% endif %}
              {% else %}
                <option value="">Nenhum registro encontrado</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="txt-pendencia-descricao">Descrição *</label>
            <textarea class="form-control" name="txt-pendencia-descricao" id="txt-pendencia-descricao" rows="3">{{ pendencia.descricao }}</textarea>
          </div>
        </div>
      </div>      
      <div class="row mb-3 d-flex justify-content-end">   
        <div class="col ">
          <input hidden type="text" name="txt_pendencia_id" id="txt_pendencia_id" value="{{ pendencia.id }}">
          <button type="submit" class="btn btn-primary float-right" name="operacao" 
           formaction="{{ url_for('bp_ocorrencia.atualizar_pendencia') }}" value="ATUALIZAR">  ATUALIZAR</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
<!-- conteudo -->
