{% extends 'base.html' %}

{% block menu_home_active %}active{% endblock %}


{% block conteudo %}
<div class="container conteudo">
  <div class="jumbotron mb-0 pb-0 px-0 cor-base4">
    <h1 class="display-4">Sistema de Gestão de Frequência e Banco de Horas<h1>
        <p class="lead text-justify">É um sistema de controle dos registros de pontos realizados pelos funcionários, em relógios de ponto
        eletrônico ou digital, para o controle e aedição das jornadas de trabalho, bem como a contabilização de horas extras,
        banco de horas e pagamentos de ponte, além da monitoração de ocorrências diversas nos apontamentos, a fim de evitar
        prejuizos aos vencimentos dos funcionários e ao bom andamento das atividades da empresa.

        </p>
  </div>
  <h1>HOME</h1>
</div>
{% endblock %}